
%h3 Upload Location file:-
= form_for @location, url: admin_do_import_path do |f|
  = f.file_field :upload_file
  = f.submit :submit, class: "btn btn-small btn-success cap"

%h3 Upload Store file:-
= form_for @store, url: admin_do_import_path do |f|
  = f.file_field :upload_file
  = f.submit :submit, class: "btn btn-small btn-success cap"


%h3 Upload Customer file:-
= form_for @customer, url: admin_do_import_path do |f|
  = f.file_field :upload_file
  = f.submit :submit, class: "btn btn-small btn-success cap"

%h3 Upload Customer file:-
= form_for @question, url: admin_do_import_path do |f|
  = f.file_field :upload_file
  = f.submit :submit, class: "btn btn-small btn-success cap"