.content
  .span24
    = select_tag "location", options_from_collection_for_select(@areas, "id", "area")
    %input#dp1.span2{type: "text", value: "02-16-2012"}
  .span24
    - if @customers && @customers.size > 0
      .span24
        %table.table.table-hover
          %tr
            %th S.No
            %th Name
            %th Email
            %th Phone Number
            %th Visits
            %th Contact
          - @customers.each_with_index do |cus, index|
            %tr
              %td= index
              %td= cus.name
              %td= cus.email
              %td= cus.contact_number
              %td= index
              %td Email Phone
    - else
      .span24
        %table.table.table-hover
          %tr
            %td No records Found  
