%script{src: "https://www.google.com/jsapi", type: "text/javascript"}
.span20.offset2.graph-table(style= "margin-bottom:20px")
  .span5.visits
    %i.fa.fa-list-ul(style="margin-left:5px;padding-top:10px;font-size:18px")
    %span(style="font-size:16px;margin-left:5px") Total Visits
  .span5.visits
    %span(style="font-size:14px;margin-left:5px") Select month
    %i.fa.fa-caret-down(style="margin-left:35px;padding-top:10px;font-size:18px")
  .span24#chart_div(style="height:350px;border-top:1px solid #d1d1d1;margin:0px")
  .span24.counts
    .span6.number
      %h3 1234
      %h5.desc Total Views
    .span6.number
      %h3 676
      %h5.desc Last 24hours
    .span6.number
      %h3 78
      %h5.desc Unique Users
    .span6.number
      %h3 12347
      %h5.desc Total Orders


 

:javascript
  $(".datepicker").datepicker({format: "yyyy-mm-dd"});    
  google.load('visualization', '1.0', {'packages':['corechart']});   
  google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
       var data = google.visualization.arrayToDataTable([
          ['Month', 'Visit', 'orderd'],
          ['Jan',  1000,      400],
          ['Feb',  2000,      460],
          ['March', 500,       1000],
          ['Apr',  1010,      540]
        ]);
      var options = {'title':'How Many Vistors to your Restaurant', 'width':$("#chart_div").width(), 'height':350};

      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
