%script{src: "https://www.google.com/jsapi", type: "text/javascript"}
.span10.graph-table.offset2
  .span10.visits
    %i.fa.fa-list-ul(style="margin-left:5px;padding-top:10px;font-size:18px")
    %span(style="font-size:16px;margin-left:5px") Total Visits
  .visits
    %span(style="font-size:14px;margin-left:15px") Select month
    %i.fa.fa-caret-down(style="margin-left:35px;padding-top:10px;font-size:18px")
  .span24#second_chart(style="height:350px;border-top:1px solid #d1d1d1;margin:0px")
  .span24.counts
    .span12.number
      %h3 1234
      %h5.desc Total Orders
    .span12.number
      %h3 1234
      %h5.desc Orders Today
    
= render partial: "home/third"

:javascript
  google.load('visualization', '1.0', {'packages':['corechart']});   
  google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
       var data = google.visualization.arrayToDataTable([
          ['18/11', 1000 ],
          ['19/11',  1000],
          ['20/11',  2000],
          ['21/11', 500],
          ['22/11',  1010],
          ['23/11', 500],
          ['24/11',  1010],
        ]);
      var options = {'title':'Orders 18/11-24/11',
                     'width':$("#second_chart").width(),
                     'height':350};

      var chart = new google.visualization.AreaChart(document.getElementById('second_chart'));
      chart.draw(data, options);
    }

 
