.span10.graph-table
  .span10.visits
    %i.fa.fa-list-ul(style="margin-left:5px;padding-top:10px;font-size:18px")
    %span(style="font-size:16px;margin-left:5px") Total Visits
  .visits
    %span(style="font-size:14px;margin-left:15px") Select stores
    %i.fa.fa-caret-down(style="margin-left:35px;padding-top:10px;font-size:18px")
  .span24#third_chart(style="height:350px;border-top:1px solid #d1d1d1;margin:0px")
  .span24.counts
    .span8.number
      %h3 50%
      %h5.desc Facebook
    .span8.number
      %h3 30%
      %h5.desc Twitter
    .span8.number
      %h3 20%
      %h5.desc Foursquare

:javascript
  google.load('visualization', '1.0', {'packages':['corechart']});   
  google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
       var data = google.visualization.arrayToDataTable([
          ['Date', 'Facebook', "Twitter", "Foursquare"],
          ['22/11', 1000, 800, 400  ],
          ['23/11', 950, 700, 450],
          ['24/11', 1100, 790, 425]
        ]);
      var options = {'title':'Insights',
                     'width':$("#third_chart").width(),
                     'height':350};

      var chart = new google.visualization.BarChart(document.getElementById('third_chart'));
      chart.draw(data, options);
    }
