.bread-crumb
  = link_to "Home", "/"
  >
  = link_to "Dashboard", "/"
.main-header
  .span4
    %h3 Dashboard  
  .span20
    .progress-bar.span10.pull-right
    %div(style="clear:both")
    %span.pull-right(style="margin-right:10px;font-size: 11px;")
      72% of your profile completed
  %div(style="clear:both")
  .span24.home-stats(style="margin-bottom: 20px;")
    .stat.span5.offset2
      .content
        %i.fa.fa-group.pull-left(style="background: #519816")
        .stat-content.span10.pull-right
          %h5 Visitors
          .count
            +1000
        %div(style="clear:both")
      .view-more.span22
        = link_to "VIEW MORE"
      %div(style="clear:both")
    .stat.span5
      .content
        %i.fa.fa-bullhorn.pull-left
        .stat-content.span15.pull-right
          %h5 Reach
          .count
            79%
        %div(style="clear:both")
      .view-more.span22
        = link_to "VIEW MORE"
      %div(style="clear:both")
    .stat.span5
      .content
        %i.fa.fa-clock-o.pull-left(style="background: #E5CE24")
        .stat-content.span10.pull-right
          %h5 Insights
          .count
            +1000
        %div(style="clear:both")
      .view-more.span22
        = link_to "VIEW MORE"
      %div(style="clear:both")
    .stat.span5
      .content
        %i.fa.fa-thumbs-up.pull-left(style="background: #A529A5")
        .stat-content.span10.pull-right
          %h5 Feedbacks
          .count
            +1000
        %div(style="clear:both")
      .view-more.span22
        = link_to "VIEW MORE"
      %div(style="clear:both")
  .home-graphs(style="margin:0px;")
    = render partial: "home/graph"
  .home-graphs(style="margin:0px;")
    = render partial: "home/second_graph"
