.row-fluid
  .span20.pull-right
    .row-fluid
      .span24
        = f.label :name
        = f.text_field :name
      .span24(style="margin-left:0px;")
        = f.label :email
        = f.text_field :contact_number
      .span24(style="margin-left:0px;")
        = f.label :contact_number
        = f.text_field :contact_number
      .span24(style="margin-left:0px;")
        = f.label :dob
        = f.text_field :contact_number
      .span24(style="margin-left:0px;")
        = f.label :dob
        = f.text_field :contact_number
