.bread-crumb
  = link_to "Home", "/"
  >
  = link_to "Customers", customers_path
.main-header
  .span4
    %h3 Customers
  .span20
    .progress-bar.span10.pull-right
    %div(style="clear:both")
    %span.pull-right(style="margin-right:10px;font-size: 11px;")
      72% of your profile completed
  %div(style="clear:both")
  .span24.customer-list(style="margin:0;padding:0;margin-top:10px;background:white;padding-top:20px;padding-bottom:50px;min-height:600px")
    .span18.filters
      %ul
        %li.span4(style="padding:10px;background:#CCC;color:white;margin-left:10px;")
          %div.dropdown
            %a(href="#" data-toggle="dropdown" style="color:black")
              By Location
              %i.fa.fa-caret-down
            %ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="border-radius:0;margin-top:10px;margin-left:-10px;")
              %li.span24
                %a(href="#" style="padding:10px;background:white;color:black;border-bottom:1px solid #CCC") 
                  Koramangala
              - ["Indiranagar", "Whitefield", "Electronic City", "BTM", "HSR Layout"].each do |content|
                %li.span24(style="padding:0;margin:0;")
                  %a(href="#" style="padding:10px;background:white;color:black;border-bottom:1px solid #CCC")
                    = content
                  

        %li.span3(style="padding:10px;padding-top:5px;padding-bottom:5px;;background:#CCC;color:white;margin-left:10px;")
          %input(type="text" style="border:1px solid #CCC;color:black;background:#CCC;outline:none;box-shadow:none;padding:0;margin:0" placeholder="Start Date" class="datepicker span20")
        %li.span3(style="padding:10px;padding-top:5px;padding-bottom:5px;;background:#CCC;color:white;margin-left:10px;")
          %input(type="text" style="border:1px solid #CCC;color:black;background:#CCC;outline:none;box-shadow:none;padding:0;margin:0" placeholder="End Date" class="datepicker span20")
        %li
          %input(type="search" placeholder="Search Email / Contact" style="padding-top:9px;padding-bottom:9px;margin-left:10px;border-radius:0;box-shadow:none;border-color:#CCC;outline:none;")
    = link_to "Add Customers", "#", class: "span3", style: "padding: 8px 10px;background:#BE2121;margin-right: 35px;float:right;color:white;text-shadow:1px 0 1px black;font-size:15px;text-align:center;"
    .span23
      %table(class="table table-striped")
        %tr
          %th S.No
          %th Name
          %th Email
          %th Contact No
          %th Vists
          %th Contact
        -  [@customers, @customers, @customers, @customers].flatten.each_with_index do |cus, index|
          %tr
            %td= index + 1
            %td= cus.name
            %td= cus.email
            %td= cus.contact_number
            %td= index
            %td 
              = link_to "Email", "#", style: "color: black"
              |
              = link_to "Phone", "#", style: "color: black"
