- if @customer && @customer.errors
  .error_area
    = @customer.errors.full_messages.join(",")
.content
  .span24(style="margin-bottom:50px;")
    = form_for :customer, :html => { :class => "validate" } ,  url: customers_path, html: {multipart: true, class: "no-radius"} do |f|
      = render partial: "form", locals: {f: f}
      %br
      = f.submit "Create", class: "btn btn-small btn-success cap pull-right span3"
      .clear
      %hr