.bread-crumb
  = link_to "Home", root_path
  >
  = link_to "Campaigns", campaigns_path
.main-header
  .span4
    %h3 Campaigns
  .span20
    .progress-bar.span10.pull-right
    %div(style="clear:both")
    %span.pull-right(style="margin-right:10px;font-size: 11px;")
      72% of your profile completed
  %div(style="clear:both")