@import "bootstrap_ewu.min";
@import "bootstrap-mixins";
@import "font-awesome";
@import "home";
@import "jquery.ui.all";

.progress-bar{
    border: 1px solid red;
    margin-top: 25px;
    margin-right: 10px;
    border: 1px solid #be2121;
    .ui-widget-header{
        background: #be2121;
    }
}