// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background: #d3d3d3;
}

a{
    text-decoration: none !important;
}

.header{
  background-color: #be2121;
  height: 50px;
  position: fixed;
  z-index:9999;
  .rest-logo{
      border-right: 1px solid #BD5252;
      .logo{
          padding-top: 15px;
          height: 50px;
          padding-left: 10px;
          a{
              color: #560F0F;
              text-transform: uppercase;
              font-size: 18px;
              font-weight: 700;
              text-decoration: none;
          } 
          i{
              color: #560F0F;
              font-size: 20px;
              margin-right: 10px;
              float: right;
          }
      }
  }
  .menu{
      ul{
          margin:0px;
          li{
              list-style: none;
              height: 50px;
              border-right: 1px solid #BD5252;
              display: inline-block;
              text-align: center;
              a{
                  color: white;
                  font-size: 16px;
                  text-shadow: 1px 0 1px black;
              }
              i{
                  color: white;
                  font-size: 16px;
              }
          }
      }
      ul.dropdown-menu{
          border-radius: 0;
          margin-top: 15px;
          margin-left: -39px;
          padding:0;
          li:last-child{
              border: none;
          }
          li{
              border: none;
              border-bottom: 1px solid #CCC;
              text-align: right;
              height: auto;
              margin-left:0;
              a{
                  color: black;
                  text-shadow: none;
                  text-transform: capitalize;
                  background: transparent;
                  font-size: 14px;
                  padding: 10px;
              }
              a:hover{
                  background: #BE2121;
                  color: white;
                  i{
                      color: white;
                  }
              }
              i{
                  color: black;
                  margin-left: 10px;
              }
          }
          
      }
      ul.right-menu{
        border-left: 1px solid #BD5252;
        li{
          padding-top:12px;
          margin:0px;
        }
        li:hover{
          background-color:#d04848;
        }
       .fa.fa-user{
         border:1px solid #fff;
         background-color:#fff;
         padding:2px 5px 2px 5px;
         margin-right:10px;
         color:#be2121;
       }
       .dropdown-menu{
           a:hover{
               background: white;
               color: black;
           }
       }
      }
  }
    
}

.side_panel{
   /* @include box-shadow(rgb(209, 208, 208) -1px 0px 15px); */
   background-color: #EBEBEB;
   opacity: 0.8;
   padding-top:10px;
   position: fixed;
   margin-top:50px;
   height: 100%;
   border-right: 1px solid #cdc9c9;
   ul{
       margin:0;
       li:first-child{
           margin-top: -10px;
       }
       li{
           list-style: none;
           border-bottom: 1px solid #D4D4D4;
           border-right: 5px solid transparent;
           padding-top: 3px;
           padding-bottom: 3px;
           a{
               color: black;
               font-weight: 500;
               font-size: 15px;
               .content{
                   i{
                       color: black;
                       font-size: 18px;
                   }
                   span{
                       margin-left: 8px;
                   }
                   padding: 10px;
                   
               }
           }
       }
       li:hover, li.active{
           background-color: white;
           border-right: 5px solid #be2121;
           a .content span{
               color: #be2121;
           }
       }
   }
}

#main{
    border-left: 1px solid #cdc9c9;
    height: 100%;
    right: 0;
    background-color: #EBEBEB;
    .bread-crumb{
        border-bottom: 1px solid #cdc9c9;
        padding: 10px 20px;
        a{
            color: black;
            font-size: 15px;
        }
    }

    .main-header{
        background: white;
        border-bottom: 1px solid #cdc9c9;
        h3{
            padding: 25px 20px;
            font-weight: 500;
            color: #555555;
            margin:0
        }
    }
    .home-stats{
        margin:0;
        border-bottom: 1px solid #cdc9c9;
        padding-bottom: 20px;
        padding-top: 8px;
        .stat{
            .content{
                margin: 10px;
                padding: 20px;
                border: 1px solid #d1d1d1;
                background: white;
                text-align: right;
                margin-bottom:0;
                margin-right: 9px;
                i{
                    padding: 10px;
                    background: #be2121;
                    color: white;
                    font-size: 18px;
                }
                .stat-content{
                    h5{
                        color: #868686;
                        margin:0;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .count{
                        font-size: 18px;
                        color: black;
                        font-weight: 600;
                    }
                }
            }
            .view-more{
                text-align:center;
                margin: 0 10px;
                border: 1px solid #d1d1d1;
                background: #F7F7F7;
                border-top: none;
                padding-top: 5px;
                a{
                    color: #868686;
                    text-transform: uppercase;
                }
            }
        }
    }

  .home-graphs{
    .graph-table{
       border:1px solid #d1d1d1;
       background-color:#efefef;
      .visits{
        border-right: 1px solid #d1d1d1;
        padding-left: 10px;padding-top: 5px;
        padding-bottom: 10px;
      }
      .counts{
        border-top:1px solid #d1d1d1;
        margin:0px;
        .number{
          text-align:center;
          border-right:1px solid #d1d1d1;
          .desc{
            margin-top: -20px;
          }
        } 
      }
    }
  }
  
}

.customer-list{
    .filters{
        ul{
            margin:0;
            li{
                list-style: none;
                display: inline-block;
            }
        }
    }
}


