.bread-crumb
  = link_to "Home", root_path
  >
  = link_to "Website", website_index_path
.main-header
  .span4
    %h3 Website
  .span20
    .progress-bar.span10.pull-right
    %div(style="clear:both")
    %span.pull-right(style="margin-right:10px;font-size: 11px;")
      72% of your profile completed
  %div(style="clear:both")
  .span24.website-start(style="margin:0;padding:0;margin-top:10px;background:white;padding-top:50px;padding-bottom:50px;min-height:600px")
    %h3(style="font-weight:300;text-align:center;color:#BE2121;text-transform:uppercase;letter-spacing:0px;font-size: 17px")
      You are 
      %strong(style="font-size: 20px;") 5 Steps
      away from establishing your online presence
    .brand.span24(style="text-align:center;margin:0;")
      %label.span24(style="text-align:center;font-size: 20px;")
        1. Choose your domain name
      .span10.offset8(style="margin-left: 33%;")
        %input.span19(type="text" name="" placeholder="Eg. empire" style="border-radius:0;box-shadow:none;outline:none;border:1px solid #ACAAAA")
        %label.span4.pull-right(style="color:green;font-weight:700;padding-top:3px;text-align:left;") Available
        %div(style="clear:both")
        %label.span19(style="text-align:center;margin-top:-10px;color:#949292;") http://empire.eatwithus.in
      .span20.offset3(style="text-align:left;")
        .row-fluid
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Koramangala
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Indiranagar
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Jayanagar
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Castle Street
        .row-fluid
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Church Street
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Central Street
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Frazer Town
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Kammanahalli
        .row-fluid
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Millers Road
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") 80-ft Road
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Noronha Road
          .span6(style="color:#BE2121;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px") Mysore
        .row-fluid
          .span6(style="color:#ACAAAA;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px;color:#ACAAAA") Orion Mall
            %span(style="font-size:10px;color:#ACAAAA;margin-top:-10px;")(Publish Outlet)
          .span6(style="color:#ACAAAA;font-weight:normal; line-height: 40px")
            %i.fa.fa-check-square-o(style="font-size:18px;padding-top:2px;")
            %a(style="font-size:14px;color:#ACAAAA") Madur
            %span(style="font-size:10px;color:#ACAAAA;margin-top:-10px;")(Publish Outlet)

      .span20.offset2(style="text-align:center;font-size:15px;margin-top:25px;color:#ACAAAA;font-weight:500")
        .span10.offset8
          %input.span1(type="checkbox" style="float: left;margin-top: 9px;text-align: right;")
          %div.span20(style="padding-top:4px;text-align: left;") I agree to RestoCRM Terms and Conditions
        %div(style="clear:both")
        %br
        = link_to "Create Online Store", theme_website_index_path, style: "background: #BE2121;color: white;padding: 8px 20px;text-shadow: 1px 0 1px black;"
