.bread-crumb
  = link_to "Home", root_path
  >
  = link_to "Website", website_index_path
  >
  = link_to "Theme", theme_website_index_path
.main-header
  .span10
    %h3 Choose Theme
  .span14
    .progress-bar.span16.pull-right
    %div(style="clear:both")
    %span.pull-right(style="margin-right:10px;font-size: 11px;")
      72% of your profile completed
  %div(style="clear:both")
  .span24.website-start(style="margin:0;padding:0;margin-top:10px;padding-top:50px;padding-bottom:50px;min-height:600px")
    .counter.span20.offset3
      .span1(style="background:#ba121f;border-radius:25px;color:white;padding: 10px 25px 11px 18px;font-weight:bold;text-align:center")
        2
      .span6(style="margin:0;border-bottom: 1px solid #CCC;margin-top:-10px")
      .span1(style="background:white;border-radius:25px;color:#ba121f;padding: 10px 25px 11px 18px;font-weight:bold;text-align:center;margin:0;border:1px solid #CCC;")
        3
      .span6(style="margin:0;border-bottom: 1px solid #CCC;margin-top:-10px;")
      .span1(style="background:white;border-radius:25px;color:#ba121f;padding: 10px 25px 11px 18px;font-weight:bold;text-align:center;margin:0;border:1px solid #CCC;")
        4
      .span6(style="margin:0;border-bottom: 1px solid #CCC;margin-top:-10px;")
      .span1(style="background:white;border-radius:25px;color:#ba121f;padding: 10px 25px 11px 18px;font-weight:bold;text-align:center;margin:0;border:1px solid #CCC;")
        5
    .text.span22.offset2(style="text-align:center;")
      .span3 Choose Theme
      .span3.offset3 Configure
      .span4.offset3 Add Pages
      .span2.offset3 Launch

    .span24.theme(style= "margin-top:30px")
      .span6.offset2.thumb
        %img.img-thumbnail{src: "/assets/1.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
      .span6.offset1.thumb
        %img.img-thumbnail{src: "/assets/2.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
      .span6.offset1.thumb
        %img.img-thumbnail{src: "/assets/3.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
    .span24.theme(style= "margin-top:30px")
      .span6.offset2.thumb
        %img.img-thumbnail{src: "/assets/4.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
      .span6.offset1.thumb
        %img.img-thumbnail{src: "/assets/5.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
      .span6.offset1.thumb
        %img.img-thumbnail{src: "/assets/6.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
    .span24.theme(style= "margin-top:30px")
      .span6.offset2.thumb
        %img.img-thumbnail{src: "/assets/7.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
      .span6.offset1.thumb
        %img.img-thumbnail{src: "/assets/8.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
      .span6.offset1.thumb
        %img.img-thumbnail{src: "/assets/9.jpg"}
        %img.hover.hide{src: "/assets/hover.jpg"}
     
:javascript
  $( ".thumb" ).mouseenter(function() {
    $(this).find(".img-thumbnail").hide();
    $(this).find( ".hover" ).show();
  });
  $( ".thumb" ).mouseleave(function() {
    $(this).find(".img-thumbnail").show();
    $(this).find( ".hover" ).hide();
  });
