.bread-crumb
  = link_to "Home", "/"
  >
  = link_to "Review", "/"
.main-header
  .span4
    %h3 Review  
  .span20
    .progress-bar.span10.pull-right
    %div(style="clear:both")
    %span.pull-right(style="margin-right:10px;font-size: 11px;")
      72% of your profile completed
  %div(style="clear:both")
.review(style="background-color:#fff;")
  .container
    .span24(style= "margin-bottom:20px;margin-top:20px")
      .span2(style="border:1px solid #000")
        %img.hover{src: "/assets/1.jpg"}
      .span22
        .link(style= "font-size:14px;font-weight:bold")
          = link_to "JAIKEERTHI"
        .from
          %span
            from
          %i= link_to "Zomato"
        .time(style= "color:#ccc")
          4 month ago 
        %p(style="margin-bottom:20px;font-size:15px")Tried this restaurant within a month or two of its opening. 
        %p(style="margin-bottom:20px;font-size:15px")
          The crowd in the restaurant made it look very promising. But the crowd was a bit too unruly.
        %p(style="font-size:15px") Ambiance - Nothing great to talk about
        %p(style="font-size:15px")
          Food - Back when i tried the biryani was just O.K. (but recent reviews from my foodie friends makes me want to give it another chance)
        %p(style="font-size:15px") Service - Nothing professional, but yeah fast enough
        %p(style="font-size:15px") Price - It justifies the quantity, decently priced
        %p(style="font-size:15px;margin-bottom:10px") Parking is ample
        .span6(style="margin:0px;")
          .span10(style= "border:1px solid #ccc;padding:5px;background-color:#eee")
            %span.fa.fa-mail-reply
            %span(style="margin-left:5px")= link_to "Reply"
          .span10(style= "border:1px solid #ccc;padding:5px;background-color:#eee;margin-left:5px")
            %span.fa.fa-share-square-o
            %span(style="margin-left:5px;")= link_to "Share"
        



    .span24(style= "margin-bottom:20px;margin-top:20px")
      .span2(style="border:1px solid #000")
        %img.hover{src: "/assets/1.jpg"}
      .span22
        .link(style= "font-size:14px;font-weight:bold")
          = link_to "GOWRISHANKAR"
        .from
          %span
            from
          %i= link_to "Zomato"
        .time(style= "color:#ccc")
          4 month ago 
        %p(style="margin-bottom:20px;font-size:15px")Tried this restaurant within a month or two of its opening. 
        %p(style="margin-bottom:20px;font-size:15px")
          The crowd in the restaurant made it look very promising. But the crowd was a bit too unruly.
        %p(style="font-size:15px") Ambiance - Nothing great to talk about
        %p(style="font-size:15px")
          Food - Back when i tried the biryani was just O.K. (but recent reviews from my foodie friends makes me want to give it another chance)
        %p(style="font-size:15px") Service - Nothing professional, but yeah fast enough
        %p(style="font-size:15px") Price - It justifies the quantity, decently priced
        %p(style="font-size:15px;margin-bottom:10px") Parking is ample
        .span6(style="margin:0px;")
          .span10(style= "border:1px solid #ccc;padding:5px;background-color:#eee")
            %span.fa.fa-mail-reply
            %span(style="margin-left:5px")= link_to "Reply"
          .span10(style= "border:1px solid #ccc;padding:5px;background-color:#eee;margin-left:5px")
            %span.fa.fa-share-square-o
            %span(style="margin-left:5px;")= link_to "Share"
        

