.bread-crumb
  = link_to "Home", root_path
  >
  = link_to "Feedback", feedback_index_path
.main-header
  .span6
    %h3 Feedback
  .span18
    .progress-bar.span10.pull-right
    %div(style="clear:both")
    %span.pull-right(style="margin-right:10px;font-size: 11px;")
      72% of your profile completed
  %div(style="clear:both")