.header.row-fluid
  .rest-logo.span5
    .span24.logo
      %a(href="#")
        Hotel Empire
      %i.fa.fa-arrow-circle-down
  .span19.menu
    %ul.span6
      %li.span12
        %a(href="#")
          %div(style="padding-top: 13px;")
            Dashboard
      %li.span12
        %div.dropdown(style="padding-top: 13px;")
          %a(href="#" data-toggle="dropdown")
            Settings
            %i.fa.fa-caret-down
          %ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel")
            %li.span24
              %a(href="#")
                User Profile
                %i.fa.fa-user
            %li.span24
              %a(href="#")
                Change Password
                %i.fa.fa-key
            %li.span24
              %a(href="#")
                Notification
                %i.fa.fa-bell
            %li.span24
              %a(href="#")
                Plans & Pricing
                %i.fa.fa-tag
            %li.span24
              %a(href="#")
                Delete Account
                %i.fa.fa-trash-o
    %ul.right-menu.span8.pull-right
      %li.span4
        %a(href="#")
          %i.fa.fa-list-ul
      %li.span4
        %a(href="#")
          %i.fa.fa-bell
      %li.span4
        %a(href="#")
          %i.fa.fa-envelope
      %li.span12
        %div.dropdown
          %a(href="#" data-toggle="dropdown")
            %div.fa.fa-user
            Jaikeerthi
            %i.fa.fa-caret-down
          %ul(class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="padding-left:24px;margin-left:auto;")
            %li.span24(style="padding-top:0;")
              %a(href="#")
                Logout
