%ul
  %li(style="class: #{(controller_name == "home") ? "active" : "inactive" }")
    %a(href=root_path)
      .content
        %i.fa.fa-dashboard
        %span Dashboard
  %li(class="#{(controller_name == "website") ? "active" : "inactive" }")
    %a(href=website_index_path)
      .content
        %i.fa.fa-laptop
        %span Website
  %li(class="#{(controller_name == "customers") ? "active" : "inactive" }")
    %a(href=customers_path)
      .content
        %i.fa.fa-group
        %span Customers
  %li(class="#{(controller_name == "campaigns") ? "active" : "inactive" }")
    %a(href=campaigns_path)
      .content
        %i.fa.fa-envelope-o
        %span Campaign Manager
  %li(class="#{(controller_name == "reviews") ? "active" : "inactive" }")
    %a(href=reviews_path)
      .content
        %i.fa.fa-edit
        %span Reviews
  %li(class="#{(controller_name == "social_media") ? "active" : "inactive" }")
    %a(href=social_media_path)
      .content
        %i.fa.fa-rss
        %span Social Media
  %li(class="#{(controller_name == "feedback") ? "active" : "inactive" }")
    %a(href=feedback_index_path)
      .content
        %i.fa.fa-thumbs-up
        %span Feedback
