!!!
%html
  %head
    %title Restaurant CRM
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'
    = csrf_meta_tags
  %body
    = render "layouts/header"
    .row-fluid
      .span5.side_panel
        = render "layouts/side_pannel"
      .span19#main.pull-right(style="padding-bottom: 20px;margin-top: 52px;")
        = yield
